*{
    margin: 0;
    padding:0;
}

/* p:first-line{
    color: red;
  
} */

/* p span{
    color: red;
    font-size: 40px;
} */

/* a:link{
    color: green;
}

a:visited{
    color: brown;
} */
/* 
button:hover{
    background-color: orchid;
    color: white;
    border: none;
} */

/* input:focus{
    background-color: red;
} */

/* p[class]{
    color: green;
} */

/* p[class="para1"]{
    color: blue;
} */

/* .para1para2{
    font-family: monospace;
} */

/* p[class~="para2"]{
background-color: aqua;
} */
/* 
img{
    width: 100%;
}
.main{
    border: 15px solid green;
    min-width: 300px;
    max-width: 700px;
}

.main{
    border: 15px solid green;
    width: 400px;
    max-height: 200px;
    overflow: scroll;
}  */

/* p{
    border: 5px outset blue;
    border-top-color: green;
    border-right-color: orangered;
    border-bottom-color: purple;
} */

.main{
    border: 5px solid red;
    margin: 10px;
}
p{
    border: 5px solid purple;
    /* padding: 50px 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px; */

}