/* p{
    color:#222222;
    background-color: rgb(172, 253, 80);
} */

/* #main{
    color: green;
    background-color: aqua;
} */
/* 
#main h1{
    color: red;
}

#main span{
    color: blue;
} */

/* span{
    color: red;
} */

/* *{
    color: rgb(255, 140, 99);
}

h2{
    color: greenyellow;
}

p{
    color: blue;
} */

/* .heading{
    color: blueviolet;
}

.word{
    color: red;
} */

/* div{
    background-color: wheat;
}

div p{
    background-color: burlywood;
} */
/* 
.container{
    color: teal;
}

 #para{
 color: red;   
}

.container>h1{
    color: purple;
} */

/* body{
    background: rgb(36,33,0);
background: linear-gradient(90deg, rgba(36,33,0,0.6671043417366946) 20%, rgba(9,9,121,0.5158438375350141) 37%, rgba(0,212,255,1) 77%);
} */

/* h1{
    color: blue;
    background-color: aquamarine;
    opacity: 1;
} */